stm32f4/DebugConfig
stm32f4/Listings
stm32f4/Objects
stm32f4/RTE
stm32f4/*.Maxim
stm32f4/*.uvoptx
stm32f4/EventRecorderStub.scvd
Logo
stm32f4_hal/Drivers
stm32f4_hal/MDK-ARM
stm32f4_hal/Drivers
stm32f4_hal/.vscode
Compass/*.cdw.bak
*.html
*.lnk
